// PILLS //
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #d63553;
  border-radius: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #ac2a42;
  }
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  border-radius: 20px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  font-weight: normal;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
p .user-request {
  color: black;
}

.notification .notification-actions {
  opacity: 1;
  display: flex;
  transition: ease .1s;
}

.notification-actions-bookings {
  display: flex;
  opacity: 1;
  color: #999999;
}


.notification .notification-actions {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
