// Specific CSS for your home-page

.banner {
  background-image: linear-gradient(90deg, rgba(2,0,22,0.5) 0%, rgba(0,0,0,0.365983893557423) 100%), url("https://images.unsplash.com/photo-1536743939714-23ec5ac2dbae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2874&q=80");
  background-size: cover;
  background-position: top;
  margin-bottom: 10px;
  h1, p, h3 {
    color: white;
  }
}

.inner-container {
  width: 1025px;
  margin: 0 auto;
  padding: 0;
}

.banner h1 {
  font-weight: bold;
  font-size: 45px;
}

.banner-info { padding: 150px 0px 150px 0px; }

.top-games-title, .categories-title {
  font-weight: bold; }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.category-card {
  background: white;
  padding: 14px 30px;
  border-radius: 37px;
  border: 2px solid #d63553;
  color: white;
  text-align: center;
  color: #d63553;
  h3 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  &:hover {
    background: white;
    color: #d63553;
    border: 2px solid white;
    h3 { font-weight: 700; }
  }
}

.card-text {
  font-weight: 700;
  font-size: 20px;
}

.card-description { color: #717171; }

.card-link { font-weight: bold; }

.cards-container {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  background: #d63553;
  margin-top: 70px;
  .categories-title { color: white; }
}

.top-games {
  display: flex;
  justify-content: space-between;
}

.top-game-card {
  width: 31%;
  border-radius: 20px;
}

.top-game-image {
  border-radius: 20px 20px 0px 0px;
  height: 220px;
}

.btn-banner {
  border-radius: 40px;
  padding: 10px 40px;
  margin-top: 10px;
  width: 200px !important;
  background-color: #d63553 !important;
}

