.special {
  margin-left: 0px;
  width: 100%;
  border-radius: 9px;
}

.not-special {
  font-weight: 400;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  width: 100%;
  height: 50px;
  border-radius: 9px;
  margin: 0 auto;
}

.form {
  padding: 45px;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  h2 { margin-bottom: 15px; }
  p { margin-top: 27px; }
}

.form-container {
  width: 700px;
  margin: 0 auto;
}

.btn-new-game {
  padding: 6.5px 15px;
  border: 1px solid lightgrey;
  border-radius: 9px;
  width: 100%;
  display: inline-block;
  margin-top: 31.5px;
  text-align: center;
  color: grey;
}
