<div class="container">
  <div class="banner">
    <div class="banner-info">
      <h1>Become a game master</h1>
      <p>Join board game players near you</p>
    </div>
  </div>

  <h3 class="mt-5">Top rated games</h3>

  <div class="top-games">
        <div class="card top-game-card mb-5 shadow">
          <img src="https://source.unsplash.com/1600x900/?boardgame" class="card-img-top top-game-image" alt="...">
          <div class="card-body">
            <p class="card-text">Catan</p>
          </div>
        </div>
        <div class="card top-game-card mb-5 shadow">
          <img src="https://source.unsplash.com/1600x900/?boardgame" class="card-img-top top-game-image" alt="...">
          <div class="card-body">
            <p class="card-text">UNO</p>
          </div>
        </div>
  </div>

  <div class="cards mb-5 shadow">
    <% Game::CATEGORIES.each do |category| %>
      <div class="category-card"><h3><%= category %></h3></div>
    <% end %>
  </div>
</div>
