<div class="container">
  <div class="wrapper d-flex">
    <div class="wrapper">
    <h1 class="mb-4 mt-4">Board games in Barcelona</h1>

    <% @games.each do |game| %>
      <%= link_to game_path(game.id) do %>
        <div class="card-product mb-3 mr-3">
          <img src="https://source.unsplash.com/featured/?game" />
          <div class="card-product-infos ml-3">
            <h4><%= game.name %></h4>
            <p><%= game.description %></p>
          </div>
          <div class="card-price">
            <i class="far fa-heart"></i>
            <p><%= game.price %>€</p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

    <img id="map" src="https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png" alt="">
  </div>
</div>
