.btn-dropdown {
  color: rgba(0,0,0,0.8) !important;
  font-size: 15px;
  padding: 10px 0;
  &:hover {
    background-color: #FF385D;
    color: white !important;
  }
}

.dropdown-menu {
  border-radius: 7px;
  width: 12rem !important;
  padding: 15px 0;
}

.login {
  font-weight: bold;
  color: rgba(0,0,0,0.8) !important;
  padding: 10px 0;
  &:hover {
    background-color: #FF385D;
    color: white !important;
  }
}

.logout {
  border-bottom: none;
  font-weight: bold;
}
