.mapboxgl-popup {
  width: 300px;
  border-radius: 60px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  img {
    border-radius: 7px;
    width: 100%;
  }
}

#map {
  position: sticky;
  border: 1px solid rgba(0,0,0,0.1);
}

.mapboxgl-marker {
  filter: invert(28%) sepia(13%) saturate(6800%) hue-rotate(317deg) brightness(110%) contrast(100%);
}

.index-map{ top: 61px; }

.show-map{ border-radius: 0px 0px 20px 20px; }

.mapboxgl-popup-close-button { color: white; }

.card-map-flex {
  display: flex;
  justify-content: space-between;
}
