// CSS specific for the navbar

.form-input {
  height: 45px;
  border-radius: 21px;
  border: 1px solid lightgrey;
  padding: 18px;
  width: 300px;
  &:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition-duration: 0.15s;
  }
}

.btn-form {
  background-color: #d63553;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: -39px;
  border: none;
  color: white;
  &:hover {
    background-color: #ac2a42;
    transition-duration: 0.15s;
  }
}
.navbar { box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); }

.btn-dashboard:hover {
  border-bottom: 1px solid black;
}

@media (max-width: 576px) {
  .form-input {
    width: 250px;
  }
  .navbar { padding: 0.5rem 0rem; }

}

@media (max-width: 450px) {
  .form-input { width: 200px; }
}

@media (max-width: 340px) {
  .form-input { width: 180px;}
}
